
@use '../variables' as *;

body.show-sidebar {

    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        transition: background-color .3s ease-in-out;
        pointer-events: none;
    }


    .header__sidebar {
        transform: translateX(115%);


    }
}

.header__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 13rem;
    background-color: $color-bg-light;
    padding: 1rem 0;
    transform: translateX(280%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 0;

    &--links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15rem;
        gap: 1.5rem;
        font-size: 1.2rem;

        a {
            color: $color-text-primary;
            font-size: 1.3rem;
            font-family: $font-family-heading;
            font-weight: 500;
        }

    }

    &--cerrar {
        display: block;
        margin: 0 0 0 8.5rem;
        font-size: 2rem;
        margin-top: .4rem;
    }

}