@use "../variables" as *;

.hero {
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        gap: 1rem;

        &--text {
            h1 {
                font-size: 2.5rem;
                font-weight: 900;
                font-family: $font-family-heading;
                text-align: center;
                width: 100%;
                color: $color-text-primary;
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                font-family: $font-family-body;
                text-align: center;
                width: 100%;
                margin-bottom: 1rem;
                color: $color-accent;
            }
        }

        &--img {
            width: 10rem;
            border-radius: 50%;    
            object-fit: cover;
        }
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        button {
            color: $color-text-white;
            padding: .3rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:nth-child(1) {
            font-size: 1.2rem;
            font-weight: 350;
            width: 10rem;
            font-family: $font-family-body;
            background-color: $color-primary;
            border-radius: 10px;
        }

        button:nth-child(2) {
            font-size: 1.2rem;
            font-weight: 350;
            padding: .2rem;
            width: 10rem;
            font-family: $font-family-body;
            border: 2px solid $color-text-primary;
            color: $color-text-primary;
            border-radius: 10px;
        }
    }

}