@use '../variables' as *;

.calculadora {
    h1 {
        text-align: center;
        font-size: 2rem;
    }

    &__container {
        width: 80%;
        margin: 0 auto;
        border: 1px solid $color-bg-gray;
        padding: 1rem;
        border-radius: 1rem;

        &--display {

            span {
                display: inline-block;
                width: 100%;
                height: auto;
                border: 1px solid $color-bg-gray;
                text-align: right;
                padding: 1rem;
                margin-bottom: 1rem;
                border-radius: 1rem;
            }
        }

        &--buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;
        }
    }
}