@use '../variables' as *;

.calculadora {
    h1 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        margin: 0 auto;
    }

    .container__buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .resultado {
        text-align: center;
    }

    p {
        color: red;
    }
}